body {
  background-color: #282c34;
  color: #fff;
  padding: 2rem;
}

.header {
  background-color: #282c34;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: 1px solid  rgba(148, 146, 146, 0.137);
  border-radius: 0.3rem;
}

li {
  padding: 1rem;
  border: 1px solid  rgba(148, 146, 146, 0.137);
  border-radius: 0.3rem;
  margin: 0.2rem;
  list-style: none;

}

footer {
  text-align: center;
}
